
{% extends "base.html" %}
{% block content %}
<div class="scrollable-area">
    <div class="skills-bank-wrapper">
        
        <h1 class="login-heading about">About 
            <span class="logo-large-inline"><span class="red-text font-bold">Skills</span>Bank</span>
        </h1>

        <hr>
       <div class="skill-container">   
 <p>
    In today’s fast-paced world, we constantly learn new things – but often, we don’t take the time to recognize or track those skills. Whether it’s a new programming language, a creative hobby, or leadership training, how do you keep track of all your learning? SkillsBank is the answer.
    </p>
    <p>
    SkillsBank is designed to be an investment in yourself. It helps you track your learning journey, from your very first steps to your most recent triumphs. Here, you’re not just recording what you’ve learned, but building a roadmap to your future.
    </p>
    <p>
    At SkillsBank, we understand that learning is unique for everyone. Whether it’s a formal course, hands-on experience, or self-taught knowledge, SkillsBank offers a platform that can handle any kind of skill and help you see it grow. From novice to expert, you’ll see exactly how far you’ve come – and where you want to go next.
    </p>
    <p>
    Your profile is anonymous. The focus is on your skills, not your name or background. This allows you to share your progress with confidence, showing others your abilities without exposing your identity.
    </p>
    <p>
    SkillsBank isn’t just a tool, it’s a celebration of your learning. It’s time to recognize your achievements, plan your next steps, and discover new opportunities.
    </p>
    <p>
    Our Mission: To help you track, celebrate, and discover your skills while protecting your privacy.
 </p>
        </div>  

    </div>
</div>
{% endblock %}
