{% extends "base.html" %}
{% block content %}

<div class="scrollable-area">
	<div class="skills-bank-wrapper">
		<h1 class="login-heading about">About 
            
			<span class="logo-large-inline">
				<span class="red-text font-bold">Skills</span>Bank
			</span>
		</h1>
		<hr>
			<div class="skill-container">
				<p>
					We learn in many ways, but we don't always acknowledge those skills, realise how much we know, or how to show or share it.
            </p>
				<p>
					<strong class="red-text">Skills</strong>Bank is a platform that records and showcases your unique skillset, saving and tracking your skills journey—helping you recognise your unique talents, expertise, experience, passion, and achievements. By keeping a record of your skills, you're investing in yourself and your future.
					</p>
					<p>
					<strong class="red-text">Skills</strong>Bank records your growth from novice to master, builds your experience from limited to vast, shows you what you're most passionate about, and lists your achievements. 
					</p>
					<p>
					<strong class="red-text">Skills</strong>Bank is a record of accomplishments, a search tool to help you and others find useful skills, and it keeps the focus on your talents and abilities by staying anonymous.
					</p>
					<p>
						<strong class="red-text">Skills</strong>Bank solves the challenge of keeping track of your learning growth and makes it easier to highlight your accomplishments and share your success with others. It helps you stay on track with bigger learning goals like courses, training, and career development. See your journey for yourself, and choose what you want to share in your anonymised public profile. You can be found for your unique skillset, experience, and expertise. 
					</p>
				
				</div>
			</div>
		</div>
{% endblock %}
