{% extends "base.html" %}
{% block content %}

<div class="scrollable-area">
	<div class="skills-bank-wrapper">
		<h1 class="login-heading about">About 
            
			<span class="logo-large-inline">
				<span class="red-text font-bold">Skills</span>Bank
			</span>
		</h1>
		<hr>
			<div class="skill-container">
				<p>
            In today's world, we learn so many things in so many different ways. But we don't always give those skills the recognition they deserve—sometimes we don't even realise we've learned something, or we don't know how to show it. 
            </p>
				<p>
					<strong class="red-text">Skills</strong>Bank is a system that lets you save and track your skills journey—an investment in yourself.
    
					<br>It shows your growth from novice to master, celebrates your achievements, and reminds you of how much you already know. It helps you plan where you want to go next or explore new possibilities. It's a record of accomplishments, a search tool to help you and others find useful skills, and it keeps the focus on your talents and abilities by staying anonymous.
					</p>
					<p>
						<strong class="red-text">Skills</strong>Bank solves that by giving you a place to record everything—whether it's a small skill or a major milestone. It helps you stay on track with bigger learning goals like courses, training, and career development. See your journey for yourself, and choose what you want to share in your anonymised public profile. You can be found for your unique skillset, experience, and expertise. 
					</p>
					<p>
						<strong class="red-text">Skills</strong>Bank helps you understand what you enjoy doing, where your strengths are, and how proficient you are in different skills—you might even discover something new about yourself!
					</p>
				</div>
			</div>
		</div>
{% endblock %}
