<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}

    <title>Skills Bank</title>

    <link href="{% static '/css/styles.css' %}" rel="stylesheet">
    <link href="{% static '/css/tailwind.css' %}" rel="stylesheet">

    <script src="{% static 'js/scripts.js' %}" defer></script>

</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    {% include "header.html" %}


    {% block content %}
    <div class="container mx-auto my-8 ">
        
    {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>  
{% endblock %}

{% include "footer.html" %}
  </body>
  </html>
  
