{% extends "base.html" %}

{% block content %}

<div class="scrollable-area">
	<div class="full-form">
		<h1 class="login-heading">Welcome, 
			<strong class="red-text">{{ user}} </strong>
		</h1>

      {% if messages %}
      
		<div class="auth-success p-4 rounded mb-6" role="alert" aria-live="polite">
          {% for message in messages %}
          
			<p>{{ message }}</p>
          {% endfor %}
      
		</div>
      {% endif %}

      {% if form.errors %}
      
		<div class="p-4 mb-6 auth-error" role="alert" aria-live="assertive">
			<p>
				<strong>Please correct the following errors</strong>
			</p>
			<ul>
              {% for field, errors in form.errors.items %}
              
				<li>
					<strong>{{ field|capfirst }}</strong>: {{ errors|join:", " }}
				</li>
              {% endfor %}
          
			</ul>
		</div>
      {% endif %}
      
		<hr>
			<div class="skil-container">
				<div class="skills-grid-home">
					<!-- Skills list link -->
					<a href="{% url 'user_skills' %}" class="skills-home blue-bg">
						<h2>
							<strong>{{user}}</strong> Skills
						</h2>
					</a>
					<!-- Profile link -->
					<a href="{% url 'user_profile' username=request.user.username %}" class="skills-home purple-bg">
						<h2>
							<strong>{{user}}</strong> Profile
						</h2>
					</a>
					<!-- Quick Add link -->
					<div class="skills-home red-bg">
						<h2>
							<strong>Quick Add</strong> Skill
						</h2>
						<form method="POST" enctype="multipart/form-data" action="{% url 'add-quick-skill' %}">
      {% csrf_token %}

      
							<!-- Custom Skill Input Field -->
							<label for="id_name" class="home-heading visually-hidden">Skill Name</label>
							<input type="text" id="id_name" name="name" placeholder="Enter skill" class="input-container custom-focus" />
							<!-- Display errors if any -->
      {% if form.name.errors %}
          
							<ul class="errors text-red-600">
              {% for error in form.name.errors %}
                  
								<li>{{ error }}</li>
              {% endfor %}
          
							</ul>
      {% endif %}

      
							<button type="submit" class="w-full button ">Save Skill</button>
						</form>
					</div>
					<!-- Account link -->
					<a href="{% url 'skill_account' %}" class="skills-home green-bg">
						<h2>
							<strong>{{user}}</strong> Account
						</h2>
					</a>
					<!-- Search link -->
					<div class="skills-home orange-bg">
						<h2>
							<strong>Search</strong> Skills
						</h2>
						<form method="get" action="{% url 'search_users_by_skill' %}">
							<input id="searchInput" type="text" name="search" placeholder="Find skill"
            class="px-4 py-2 custom-focus input-container" />
							<button type="submit" class="button">Search</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
  
  {% endblock %}