{% extends "base.html" %}
{% block content %}

<div class="scrollable-area">
	<div class="skills-bank-wrapper">
		<p class="join">
			<strong>Join the community that celebrates skills, not titles.</strong>
			<br>Track, analyse, and grow with SkillsBank.
			<button type="button" class="button join-button">Join SkillsBank</button>
			</p>
			<div class="logo-large">
				<span class="red-text font-bold">Skills</span>Bank
			</div>
			<h2 class="text-center mt-2">Access a Wealth of Expertise</h2>
			<!-- Search Form -->
			<form method="get" action="{% url 'search_users_by_skill' %}">
				<div class="mt-8 flex flex-col items-center">
					<div class="flex flex-col md:flex-row gap-2 relative">
						<div class="autocomplete-container">
							<input id="searchInput" type="text" name="search" placeholder="Find skill (e.g., CSS, design)"
                            class="w-80 px-4 py-2 custom-focus searchinput" />
						</div>
						<button type="submit" class="button main-search-button">Search</button>
					</div>
				</div>
			</form>
			<!-- Results section -->
        {% if query %}
        
			<div class="mt-8">
				<h2 class="text-xl font-bold">Search Results for 
					<span class='orange-text'>{{ query }}</span>
				</h2>
				<!-- CGPT -->
				<div class="search-results">
            {% if results_message %}
            
					<p>{{ results_message|safe }}</p>
        {% endif %}
				</div>
				<!-- end cgpt-->
				<hr>
					<div class="search-results">
            {% if users_with_skills %}
						<ul>
                    {% for username in users_with_skills %}
							<li class="font-bold">
								<a href="{% url 'public_user_profile' username=username %}">{{ username }}</a>
							</li>
                    {% endfor %}
						</ul>
            {% else %}
						<p>No users found with those skills.</p>
            {% endif %}
					</div>
				</div>
        {% endif %}
			</div>
		</div>
{% endblock %}
