<footer class="footer">     
    <nav>
        <ul class="nav">
            <li><a href="{% url 'terms' %}">Terms of use</a></li>
            <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
    
    <div class="logo bold "><strong>Skills</strong>Bank by <a href="https://github.com/saslam1023" target="_blank">saslam1023</a></div>
    </footer>